*{
font-family: 'Roboto', sans-serif;
}

/* Struttura */

.bg_grey{
  background-color: lightgrey;
}

.bg_linear_blue{
  background-color: blue;
}

.bg_dark_blue{
  background-color: darkblue;
}

.gen_footer{
  height: 400px;
}
.prima, .settima{
  height: 200px;
}
.seconda{
  height: 500px;
}
.terza, .sesta{
  height: 600px;
}
.quarta, .quinta{
  height: 300px;
}

/* utility */
.bc_white{
  background-color: white;
}

.c_darkblue{
  color: rgb(3, 28, 78);
}

.c_lightblue{
  color: rgb(0,124,247);
}

/****** header ******/
/* navbar */
.navbar{
  background-color: white;
  border: none;
  margin-bottom: 0;
}

.navbar-brand img{
  height: 100%;
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

#signup{
  color: rgb(0,124,247);
  border: 1px solid rgb(0,124,247);
  border-radius: 5px;
  padding: 2px 5px;
  margin: 12px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: rgb(0,124,247);
}

.navbar-default .navbar-toggle {
    border: none;
    padding: 10px 10px;
  }
 /* #cont_white:after{
  font-family: "Font Awesome 5 Free";
  content: "\f078";
} */

/* header text */
header .row h1, p{
  color: white;
  text-shadow: 2px 2px black;
}

header .row h3:first-child{
 padding-top: 40px;
}

.bg_blue{
  background-image: url(../img/ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.container_form{
  margin: 20px 0;
  border-radius: 5px;
}
.container_form input, .container_form button, .container_form .google_button{
  width: 95%;
  margin: auto;
}

.container_form button{
  background-color: rgb(87, 154, 255);
  color: white;
  margin-left: 2.5%;
}

.google_button{
  height: 34px;
  box-shadow: 2px 2px 1px lightgrey;
  width: 95%;
  margin: auto;
  border-radius: 5px;
}

.google_button img{
  height: 22px;
  margin: 6px 0;
  position: relative;
  right: 176px;
}

.text_form{
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .nav>li>a {
    padding: 15px 5px;
}
