*{
font-family: 'Roboto', sans-serif;
}

/* utility */
.bg_linear_blue{
  background-image: linear-gradient(to bottom, rgba(0,72,197,1), rgba(0,30,154,1));
}

.bg_dark_blue{
  background-color: rgb(3, 28, 78);
}

.bg_grey{
  background-color: rgb(243, 245, 249);
}

.bc_white{
  background-color: white;
}

.c_darkblue{
  color: rgb(3, 28, 78);
}

.c_lightblue{
  color: rgb(0,124,247);
}

.py_30{
  padding: 30px 0;
}
.py_10{
  padding: 10px 0;
}

.fs_10{
  font-size: 10px;
}

/****** header ******/
/* navbar */
.navbar{
  background-color: white;
  border: none;
  margin-bottom: 0;
}

.navbar-brand img{
  height: 100%;
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

#signup{
  color: rgb(0,124,247);
  border: 1px solid rgb(0,124,247);
  border-radius: 5px;
  padding: 2px 5px;
  margin: 12px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: rgb(0,124,247);
}

.navbar-default .navbar-toggle {
  border: none;
  padding: 10px 10px;
  }
 /* #cont_white:after{
  font-family: "Font Awesome 5 Free";
  content: "\f078";
} */

/* header text */
header .row h1, header .row p{
  color: white;
  text-shadow: 2px 2px black;
}

header .row h3:first-child{
 padding-top: 40px;
}

.bg_blue{
  background-image: url(../img/ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.container_form{
  margin: 20px 0;
  border-radius: 5px;
}
.container_form input, .container_form button, .container_form .google_button{
  width: 95%;
  margin: auto;
}

.container_form button{
  background-color: rgb(87, 154, 255);
  color: white;
  margin-left: 2.5%;
}

.container_form a{
  color: rgb(0 105 255);
}

.google_button{
  height: 34px;
  box-shadow: 2px 2px 1px lightgrey;
  width: 95%;
  margin: auto;
  border-radius: 5px;
}

.google_button img{
  height: 22px;
  margin: 6px 0;
}

.text_form{
  padding-top: 15px;
  padding-bottom: 30px;
}

/****** main ******/

.seconda_sezione, .terza_sezione, .quarta_sezione, .quinta_sezione, .sesta_sezione, .settima_sezione, .gen_footer{
  padding-top: 30px;
  padding-bottom: 40px;
}
/* prima sezione */

.prima_sezione img{
  height: 80%;
}

.prima_sezione a{
  color: rgb(0 105 255);
}

/* seconda sezione */
.seconda_sezione h2, .seconda_sezione h4, .terza_sezione h2, .quarta_sezione h2, .quarta_sezione h5 .sesta_sezione h2{
  color: rgb(3, 28, 78);
}

.seconda_sezione p, .quarta_sezione p{
  color: rgb(91, 105, 135);
}

.seconda_sezione li{
  color: rgba(3, 27, 78, 0.6);
  list-style: none;
  border-left: 1px solid grey;
  padding: 5px;
}

/* terza sezione */
.terza_sezione img{
  width: 50%;
}

.terza_sezione p{
  color: rgb(91, 105, 135);
  margin-top: 20px;
  margin-bottom: 40px;
}

.car_text{
  color: rgb(3, 28, 78);
  margin-top: 10px;
}

.fa-circle{
  font-size: 10px;
  color: rgb(0,124,247);
}

/* quarta sezione */

.quarta_sezione img{
  margin-top: 30px;
}

.quarta_sezione a, .quinta_sezione a{
  color: rgb(0,124,247);
}

/* quinta sezione */
.quinta_sezione{
  color: white;
}

.quinta_sezione a{
  color: rgb(0, 215, 210);
}

.quinta_sezione a:after{
  font-family: "Font Awesome 5 Free";
  content: "\f105";
}

.row .row .col-xs-7{
  color: lightgrey;
}

.row .py_10 div{
  border-bottom: 1px solid white;
}
.row .row{
  margin: 0 1px;
}

/* sesta sezione */
.sesta_sezione h2{
  padding-bottom: 40px;
}

.white_container{
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 10% 0;
}

.white_container img{
  width: 50%;
  padding-bottom: 10px;
}

.fs_22{
  font-size: 22px;
  color: rgb(91, 105, 135);
}

/* settima sezione */
.settima_sezione h2{
  color: white;
  padding-bottom: 10px;
}

.settima_sezione a{
  color: rgb(0,124,247);
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bolder;
}

/******footer ******/
footer{
  color: rgb(91, 105, 135);
}

.icon_footer i{
  padding: 5px;
}

footer li{
  border: none;
  list-style: none;
  padding: 5px 0;
}

footer ul li:first-child{
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.fixed{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.nuvoletta{
  background-color: white;
  border-radius: 5px;
  width: 150px;
  display: inline-block;
}
.square{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.square img{
  width: 100%;
  border-radius: 5px;
}

.num_2{
  position: fixed;
  bottom: 85px;
  right: 5px;
  z-index: 2;
  color: white;
  font-weight: bold;
  background-color: red;
  border: 5px solid white;
  border-radius: 50%;
  padding: 0 6px;
}


@media screen and (min-width: 768px) and (max-width: 991px){

  .nav>li>a {
    padding: 15px 5px;
  }

  .terza_sezione img{
    padding-top: 80px;
  }

  .car_text{
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px){

  .terza_sezione img{
    padding-top: 80px;
  }

  .car_text{
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 512px){

  .row .row div{
    padding: 0;
  }
  @media screen and (max-width: 500px){

  .row .row div{
    font-size: 10px;
  }
